// _________*COLOURS*_________

$c-black : #2c2c2c; 
$c-white : #ECE9E5;

// _________*FONTS*_________

@font-face{
    font-family: 'font1';
    src:
        url("~@/assets/font/NewYork.otf"),
        url("~@/assets/font/NewYork.woff") format("woff"),
        url("~@/assets/font/NewYork.woff2") format("woff2");
};

$ls-smaller: 0.05rem;
$ls-small: 0.085rem;

$w-light: 300;
$w-reg: 400;
$w-bold: 700;

// _________*SCALES*_________

// MOBILE — SCALE : 1.20 MINOR THIRD
$s-mob--smallest: 0.833rem; /* 13.33px */
$s-mob--smaller: 1rem; /* 16px */
$s-mob--small: 1.2rem; /* 19.20px */
$s-mob--medium: 1.728rem; /* 27.65px */
$s-mob--medium-plus: 2.448rem; /* 39.81px */
$s-mob--big: 2.986rem; /* 47.78px */
$s-mob--bigger: 3.583rem; /* 57.33px */
$s-mob--biggest: 4.3rem; /* 68.80px */
$s-mob--massive: 6.192rem; /* 99.07px */

// TAB — SCALE : 1.125 MAJOR SECOND
$s-tab--tiny: 1rem; /* 16px */
$s-tab--smallest: 1.125rem; /* 18px */
$s-tab--smaller: 1.424rem; /* 22.63px */
$s-tab--small: 1.802rem; /* 28.83px */
$s-tab--medium: 2.887rem; /* 46.18px */
$s-tab--big: 4.11rem; /* 65.76px */
$s-tab--bigger: 6.583rem; /* 105.33px */
$s-tab--biggest: 9.373rem; /* 149.97px */

// DESK ALTERNATIVE — SCALE : 1.25 MAJOR THIRD
$s-desk--tiny: 1rem; /* 16px */
$s-desk--smallest: 1.25rem; /* 20px */
$s-desk--smaller: 1.563rem; /* 25px */
$s-desk--small: 1.953rem; /* 31.25px */
$s-desk--medium-small: 3.052rem; /* 48.83px */
$s-desk--medium: 3.815rem; /* 61.04px */
$s-desk--medium-avg: 4.768rem; /* 76.29px */
$s-desk--medium-plus: 5.96rem; /* 95.37px */
$s-desk--medium-big: 7.451rem; /* 119.21px */
$s-desk--big: 9.313rem; /* 149.01px */
$s-desk--bigger: 11.642rem; /* 186.226px */
$s-desk--biggest: 14.552rem; /* 232.83px */
$s-desk--massive: 18.19rem; /* 291.04px */


// _________*MEDIA QUERIES*_________
$screen-sm: 425px;

$screen-tb: 700px;

$screen-lg: 1000px;

$screen-xl: 1300px;

$screen-xxl: 1800px;

$screen-xxxl: 2100px;


// _________*TRANSITIONS*_________

$t-fast : .3s cubic-bezier(0.25, 1, 0.5, 1);
$t-smooth : .5s cubic-bezier(0.25, 1, 0.5, 1);

$random : random(20)